body,
p {
  margin: 0px;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
div.cabecalho {
  background-color: gray;
  height: 100%;
  left: 0;
  top: 100%;
  padding: 15px;
}
div.texto {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 80ch;
  padding: 50px;
}
div.rodape {
  background-color: gray;
  color: black;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
div.a {
  padding: 20px;
  height: 200%;
  border-radius: 5px;
  color: brown;
}
