div.image {
  content: url("https://cdn.discordapp.com/attachments/893927524978028557/920829190129975396/unknown.png");
  width: 30%;
  height: auto;
}
body {
  margin: 0 auto;
  width: 700px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p,
a {
  font-family: Arial, Helvetica, sans-serif;
}
div.background {
  background-image: url("https://discord.com/channels/893927524978028554/893927524978028557/930916800600870932");
  background-size: 1366px 720px;
}
