div.image {
  content: url("https://media.discordapp.net/attachments/893927524978028557/938222335809441842/unknown.png?width=228&height=218");
  width: 30%;
  height: auto;
}
body {
  margin: 0 auto;
  width: 700px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p,
a {
  font-family: Arial, Helvetica, sans-serif;
}
